@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .delay-1000 {
    animation-delay: 1000ms;
  }
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply text-gray-900 bg-gray-50;
  }
}
